.git/**
.vscode/**
.vscode-test/**
test/**
.npm-cache/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/eslint.config.mjs
**/.vscode-test.*
*.vsix
*.log
*.tmp
*.png.tmp
screenshots/**
history.jsonl
commit-history/**
sounds/**
themes.json
!media/**
